.rainbow .wave-1 {
  background: #cedef7;
}

.rainbow .wave-2 {
  background: #9cc5f7;
}

.rainbow .wave-3 {
  background: #6ba5ef;
}

.rainbow .wave-4 {
  background: #2984e6;
}

.rainbow .wave-5 {
  background: #1942ff;
}

.nyan-cat {
    margin-top: -15px;
    margin-left:-350px;
}
