.rainbow .wave-1{
  background: #193131;
}

.rainbow .wave-2{
  background: #214a31;
}

.rainbow .wave-3{
  background: #527b6b;
}

.rainbow .wave-4{
  background: #4a523a;
}

.rainbow .wave-5{
  background: #527b3a;
}

.rainbow .wave-6{
  background: #adc542;
}