.rainbow .wave-1 {
  background: #efc5ff;
}

.rainbow .wave-2 {
  background: #de94ff;
}

.rainbow .wave-3 {
  background: #ce5aff;
}

.rainbow .wave-4 {
  background: #bd19ff;
}

.rainbow .wave-5 {
  background: #f719ff;
}

.rainbow .wave-6 {
  background: #94007b;
}

.nyan-cat {
  margin-top: -66px;
}